body { 
    background-color: #DCD1D3;
    font-family: 'Times New Roman', Times, serif;
    color: #54494B;
    width: 85%;
    margin: auto;
}

img {
    border : 0.3rem solid #54494B;
    border-radius: 10%;
}

hr {
    border: none;
    border-top: 1px solid #54494B;
    border-radius: 90%;
    margin: 1.5rem 0;
}

nav ul li{
    list-style: none;
    margin: 0.5rem;
}

nav ul li:hover {
    text-decoration: underline;
    color: #156064;
    cursor: pointer;
}

nav ul {
    display: flex;
    justify-content: right;
    padding-left: 0;
}

#jonathan {
    background-color: #8D818C;
    display: flex;
    align-items: center;      
    justify-content: center;  
    gap: 3rem;                 
    text-align: center;        
}

#jonathan img {
    border-radius: 90%;
    border: 0.5rem double;
}

#about-me {
    text-align: center;
}

.experience {
    margin: 2rem;
}

#hobbies {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    text-align: center;
    margin-bottom: 3rem;
}

h2 {
    text-align: center;
}

a {
    text-decoration: none;
    color: #54494B;
}

a:hover {
    text-decoration: underline;
    color: #156064;
}
footer {
    background-color: #DCD1D3;
    padding: 1.5rem 0;
    margin-top: 3rem;
}

.contact-row {
    display: flex;
    justify-content: center;
    gap: 4rem;
    font-size: 1.1rem;
}

.contact-row a {
    color: black;
    text-decoration: none;
    font-weight: 500;
}

.contact-row a:hover {
    text-decoration: underline;
}